<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Coding Dojo Info Template</title>
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/landing_page.css')}}">
</head>
<body>
  <p>Coding Dojo’s founder, Michael Choi, served as partner and CEO of several successful startups including a real estate lead-gen company called Zurple. It was a high-growth startup and Michael was struggling to find qualified developers so he created a training program of his own. Not only did he believe this to be more pragmatic and efficient, but Michael also loved to teach.</p>
  <form action="action_page.php">
  First name:<br>
  <input type="text" name="firstname" value="John"><br>
  Last name:<br>
  <input type="text" name="lastname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
